// FONT-WEIGHT
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// COLOR
$color-background: #F7FFF7;
$color-dark: #202120;
$color-modal: #20212080;
